version: '3.8'
services:
  website:
    build:
      context: ./Public
      dockerfile: website.dockerfile
    ports: 
      - 80:8080
    networks:
      - business-network
  api:
    build: 
      context: .
      dockerfile: api.Dockerfile
    ports: 
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=myuser
      - DB_PASSWORD=mypassword
      - DB_NAME=businessform_db
      - DB_PORT=5432
    depends_on:
      -db 
    networks:
    - business-network